@import "../helpers/all";

html, body {
  color: $textBlack;
  background-color: $bgGray;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: 50px;
}

h1 {
  color: $textBlack;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
}